
.discription_block {
    display: grid;
    grid-area: p;
    padding: 20px;
    grid-template-areas:
    "ph i";
    grid-template-rows: 350px;
    grid-template-columns: 300px auto;
}
.user {
    grid-area: ph;
}

.status{
    grid-area: s;
}

.user img {
    width: 250px;

}
.defPhoto {
    width: 250px;
}
.contact {
    padding-left: 15px;
}

.myInfoBlock{
    grid-area: i;
    display: grid;
    grid-template-areas:
    "n w"
    "a s"
    "c s";
    grid-template-rows: 70px 50px 230px;
    grid-template-columns: 300px auto;

}

.myName{
    grid-area: n;
}
.aboutMe {
    grid-area: a;
}
.lookForJob{
    grid-area: w;
}
.skills{
    grid-area: s;
}
.contacts{
    grid-area: c;
}




