.app-wrapper {
  display: grid;
  width: 1200px;
  margin: auto;
  grid-template-areas:
  "h h"
  "n c";
  grid-template-rows: 70px 1fr;
  grid-template-columns: 2fr 10fr;

}


.app-wrapper-content {
  grid-area: c;
  background: linear-gradient(133deg, #186d74, #b84317);
  border-radius: 10px;
  height: 870px;

}
::-webkit-scrollbar{
  width: 15px;

}
::-webkit-scrollbar-track{
  background: linear-gradient(#186d74, #1b8480);
  border-radius: 25px;
}
::-webkit-scrollbar-thumb{
  background-image: linear-gradient(#b84317,#e8802d);
  border-radius: 25px;
}
::-webkit-scrollbar-thumb:hover{
  background-image: linear-gradient(#e8802d, #b84317);
}


